.logo-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.logo{
    max-width: 70%;
}


.lobby-btn {
    background-color: gold;
    border-color: deeppink;
    display: inline-block;
    border-radius: 50px;
    border-width: 5px;
    height:5em;
    
    max-width: max-content;
}


.lobby-btn-div{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}


.btn-text{
    color:indigo;
}