
.profile-img{
    /*
    background: #f0f0f0;
    border: 2px solid #666;
    */
    max-width: 16em;
    height: auto;
    width: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}


.upload-btn{
    max-width: 16em;
    border-radius: 5px;
    text-align: center;
}


.profile-div {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width:max-content;
}


.userinfo{
    width:max-content;
    float:right;
}

.change-img-btn {
    margin-top: 2px;
    background-color: gold;
    border-color: deeppink;
    margin-top: 10px;
    border-radius: 6px;
}

.change-img-btn-div{
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}

.make-friend-btn {
    margin-top: 2px;
    background-color: gold;
    border-color: deeppink;
    border-radius: 20px;
    margin-top: 10px;
}

.friends {
    margin-top: 2px;
    background-color: gold;
    border: 2px solid deeppink;
    border-radius: 20px;
    width: fit-content;
}