{% extends 'base.html' %}
{% load static %}


{% block header %}
    <link href="{% static 'zavalinka_game/create_game.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <form method='POST'>
        {% csrf_token %}
        <label class='rounds'>Количество раундов</label>
        <input type="number" min="1" max = "10" value="1" name="number_of_rounds" id="number_of_rounds"> 
        <br>
        <label class='name'>Название игры</label>
        <input type="text" value="Название игры" name="name" id="name"> 
        <br>
        <button class='btn send-button' type='submit'> Создать игру</button>
    <form>
{% endblock %}