{% extends 'base.html' %}
{% load static %}


{% block header %}
    <link href="{% static 'zavalinka_game/profile.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
  <div class="profile-div container-fluid">
    <div class='row'>
      <div class="col-xs">
        <img src="{% static 'images/' %}{{request.user.profile.profile_pic}}" class="profile-img">
      </div>
      <div class="col-xl userinfo">
        <font size="5.5"> <b>Username: </b>{{user}} </font>
      </div>
    </div>
  </div>
{% endblock %}