{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Мейби бейби & Дора </title>
    <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
    {% block header %}
      
    {% endblock %}
  </head>
  <body>
    <main>
        <div class='header-div'>
          <div class='go-home-button' style='margin-left:0;max-width:6em'>
            <a style='' href="{% url 'home_page' %}"> 
              <button class="super-button"> На главную </button> 
            </a>
          </div>
          {% if request.user.is_authenticated  %}
            <div class='login-button' style='margin-right:0;margin-left:auto;max-width:3em;'>
              <a style='' href="{% url 'logout' %}"> 
                <button class="super-button"> Выйти </button> 
              </a>
            </div>
          {% else %}
            <div class='logout-button' style='margin-right:0;margin-left:auto;max-width:3em;'>
              <a style='' href="{% url 'login' %}"> 
                <button class="super-button"> Войти </button> 
              </a>
            </div>
          {% endif %}
        </div>
        {% block content %}

        {% endblock %}
    </main>
  </body>
</html>