.users-list {
    margin-top: 2em;
    margin: auto;
    width:max-content;
}

.profile-img {
    max-width: 10em;
    height: auto;
    width: auto;
}

.user {
    padding: 1em;
    background: lightblue;
    border: 1px solid;
}

.user-info {
    text-align: center;
}