.header-div {
    flex-direction: row;
    float: top;
    width: 100%;
}


.super-button {
    border-radius: 40em;
}




.go-home-button .super-button {
    background-color: #B0B0B0;
    border-color: #B0B0B0
}



.login-button .super-button {
    background-color: #04FF00;
    border-color: #04FF00
}


.logout-button .super-button {
    background-color: #FF0800;
    border-color: #FF0800
}

.signup-button .super-button {
    background-color: #ffe603;
    border-color: #ffe603;
}