body, html, main { 
    width: 100%;
    height: 100%;
}


.header-div {
    float: top;
    width: 100%;
    background-color: #e9e8e8;
    margin-bottom: 10px;
}


.super-button {
    border-radius: 25em;
}




.go-home-button {
    background-color: #B0B0B0;
    border-color: #B0B0B0
}



.login-button {
    background-color: #04FF00;
    border-color: #04FF00
}


.logout-button {
    background-color: #FF0800;
    border-color: #FF0800
}

.signup-button {
    background-color: #ffe603;
    border-color: #ffe603;
}

.profile-button {
    background-color: #7bafcc;
    border-color: #7bafcc;
}


.main-content-div{
    height: 100%;
}


.friends-list-button {
    background-color: #ffbb00;
    border-color: #ffbb00;
}


.create-game-button{
    background-color: #e5ff00;
    border-color: #e5ff00;
    margin-right: 10px;
}