.header-div {
    flex-direction: row;
    float: top;
    width: 100%;
}


.super-button {
    border-radius: 25em;
}




.go-home-button {
    background-color: #B0B0B0;
    border-color: #B0B0B0
}



.login-button {
    background-color: #04FF00;
    border-color: #04FF00
}


.logout-button  {
    background-color: #FF0800;
    border-color: #FF0800
}

.signup-button {
    background-color: #ffe603;
    border-color: #ffe603;
}

.profile-button {
    background-color: #7bafcc;
    border-color: #7bafcc;
}