{% extends 'base.html' %}
{% load static %}


{% block header %}
    <link href="{% static 'zavalinka_game/game/choosing_definition.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %} 
    {% if user_answered %} 
        <div class="information">
            <big> 
                Выберите, какое определение является определением слова "{{ game.last_ask.word }}":
            </big>
        </div>
        <table class="all-definitions">
            <tr>
            {% for definition in definitions %}
                <td>
                    <div class="cell">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="game_id" value="{{ game.id }}">
                            <input type="hidden" name="definition" value="{{ definition }}">
                            <button type="submit" class="word-definition">
                                {{ definition }}
                            </button>
                        </form>
                    </div>
                </td>
            {% endfor %}
            </tr>
        </table>
    {% else %}
        <div class='information'>
            <big> 
                Вы выбрали определение, дождитесь ответов других игроков
            </big>
        </div>
    {% endif %}
{% endblock %}