{% extends 'base.html' %}
{% load static %}


{% block header %}
    <link href="{% static 'zavalinka_game/game/waiting_for_players.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <table class="users-list">
        <tr>
        {% for user_in_game in users_in_game %}
                <td>
                    <div class="col-xl user">
                        <img src="{% static 'images/' %}{{ user_in_game.user.profile_pic }}" class="profile-img">
                        <div class="user-info">
                            <font size="5.5"> <b>{{ user_in_game.user.user }}</b> </font>
                        </div>
                    </div>
                </td>
        {% endfor %}
        </tr>
    </table>    
{% endblock %}