{% extends 'base.html' %}
{% load static %}


{% block header %}
    <link href="{% static 'zavalinka_game/game/writing_definition.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% if user_answered %}
    <div>
        <div class='information'>
            <big> 
                Придумайте интересное определение для "{{ game.last_ask.word }}":
            </big>
        </div>
        <form method='POST'>
            {% csrf_token %}
            <input type="hidden" name="game_id" value="{{ game.id }}">
            <input type="text" name="definition" id="definition" value="Ваше правдоподобное определение" class="ans-form">
            <button type="submit" class="submit-ans-btn">Сдать определение</button>
        </form>
    </div>
    {% else %} 
    <div>
        <div class='information'>
            <big> 
                Вы придумали определение, дождитесь ответов других игроков
            </big>
        </div>
    </div>
    {% endif %}
{% endblock %}