{% extends "base.html" %}
{% load static %}


{% block header %}
  <link href="{% static 'registration/login.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <div class='login-form'>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <table>
        <tr>
          <td>
            <div class='login-form-row'>
              {{ form.username.label_tag }}
              {{ form.username }}
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class='login-form-row'>
              {{ form.password.label_tag }}
              {{ form.password }}
            </div>
          </td>
        </tr>
      </table>
      <div class='login-form-submit'>
        <input type="submit" value="login">
      </div>
      <input type="hidden" name="next" value="{{ next }}">
    </form>
  </div>

   

{% endblock %}